* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    padding: 0px;
}
.container-fluid {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    //border: 1px solid black;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.col-md-12 {
    //border: 1px solid black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h1-text {
    font-size: 44px;
    letter-spacing: -0.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #48627a;
}
.bottom {
    //border: 1px solid black;
    height: 80%;
}
.col-md-4 {
    //border: 1px solid black;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box {
    //border: 1px solid black;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    align-items: center;    
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s;
}
.box:hover {
    box-shadow: 1px 1px 9px 0px #000;
}
.topbox, .bottombox {
    //border: 1px solid black;
    height: 50%;
    width:100%; 
}
.topbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.bottombox {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-bottom: 10px;
}
.bottombox h1 {
    font-size: 24px;
    letter-spacing: -0.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #31e2bf;
    margin-left: 10px;
}
.bottombox p {
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #9f9f9f;
    margin-left: 10px;
}
.progress {
    width: 90%;
    min-height: 5px;
    margin-left: 10px;
}
.progress-bar {
    color: #48627a;
    background-color: #48627a;
}
.rupees-calculte {
    //border: 1px solid black;
    width: 90%;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rupees-calculte h3 {
    font-size: 14px;
    letter-spacing: -0.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #48627a; 
}
.rupees-calculte span {
    font-size: 14px;
    letter-spacing: -0.5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #48627a; 
}
.btn1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.5s;
    padding: 15px;
    letter-spacing: 0.5px;
    background-color: #48627a;
    color: white;
    border: none;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;;
}

@media only screen and (max-width:500px) {
    .container-fluid {
       height: auto;
    }
    
    .topbox, .bottombox{
        height: 100%;
    }
    
    .container {
        //border: 1px solid black;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: auto;
    }
    .col-md-12 {
        //border: 1px solid black;
        width: 100%;
        
    }
    .bottom {
        //  height: 300vh;
        width: 100%;
        //height: 80%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .col-md-4{
        height:500px ;
    }
}